html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--pomb-color);
    max-width: 320px;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Press Start 2P', sans-serif;
}

#root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}